<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: "Quicksand", sans-serif;
        font-size: 15px;
      }

      body {
        background-color: rgb(11, 11, 11);
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        gap: 20px;
      }

      form {
        background-color: rgb(27, 27, 27);
        padding: 30px 25px;
        border-radius: 10px;
        border: 1px solid rgb(56, 56, 56);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        max-width: 350px;
      }
      h1 {
        text-align: center;
        color: white;
        font-size: 1.5rem;
      }

      input {
        padding: 10px;
        border-radius: 5px;
        border: none;
        outline: none;
        background-color: rgb(41, 41, 41);
        color: white;
      }

      input::placeholder {
        color: rgb(180, 180, 180);
      }

      button {
        padding: 10px;
        background-color: rgb(40, 40, 42);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: filter 0.2s;
      }

      button:hover {
        filter: brightness(130%);
      }

      a {
        color: rgb(150, 150, 255);
        text-decoration: none;
        transition: text-shadow 0.2s;
      }

      a:hover {
        text-shadow: 0 0 5px rgba(150, 150, 255, 0.6);
      }
    </style>
  </head>
  <body>
    <form action="/register" method="post">
      <h1>Seja bem-vindo!</h1>
      <input type="text" name="fName" id="fName" placeholder="Primeiro Nome" />
      <input type="text" name="lName" id="lName" placeholder="Último Nome" />
      <input type="text" name="username" id="username" placeholder="Usuário" />
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Senha"
      />
      <input
        type="password"
        name="passwordC"
        id="passwordC"
        placeholder="Confirmar Senha"
      />
      <button type="submit">Criar</button>
    </form>
    <a href="/login">Já tenho uma conta</a>
    <script>
      document.querySelector("form").addEventListener("submit", (e) => {
        e.preventDefault();
        const allData = [...document.querySelectorAll("form input")];

        if (allData.some((el) => el.value.trim().length < 1)) {
          alert("Favor preencher todos os campos!");
          return;
        } else {
          document.querySelector("form").submit();
        }
      });
    </script>
  </body>
</html>
