<div class="addExpenseContainer hidden">
  <form id="addExpenseForm">
    <div class="expense-category-div">
      <input
        required
        type="number"
        name="value"
        id="value"
        placeholder="Valor"
      />
      <select name="category" id="category">
        <option value="Sem categoria">Sem categoria</option>
        <% if (categories.length > 0) { %> <% for( let i = 0; i <
        categories.length; i++ ) { %>
        <option value="<%= categories[i] %>"><%= categories[i] %></option>
        <% } %> <% } %>
      </select>
    </div>
    <div class="local-date-div">
      <input
        required
        type="text"
        name="description"
        id="description"
        placeholder="Descrição"
      />
      <input required type="date" name="date" id="date" />
    </div>
    <div class="submit-cancel">
      <button id="addExpenseBtn" type="submit">Adicionar saída</button>
      <button id="cancelBtnExpense">Cancelar</button>
    </div>
  </form>
</div>
