<div id="addUsersContainer" class="hidden">
  <div class="addUsersInnerContainer">
    <form id="formNewUser" class="search-bar-wrapper">
      <input type="text" id="searchUserToAdd" placeholder="Procurar Usuário" />
      <button type="submit" id="searchNewUser">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>

    <div class="usersSearched"></div>

    <img id="imageAddUser" src="/images/newUser.png" width="50%" />
    <p id="pShareWithFriends">
      Compartilhe esta planilha com novos amigos e enriqueçam juntos!
    </p>
  </div>
</div>
