<div id="removeUsersContainer" class="hidden">
  <div class="removeUsersInnerContainer">
    <input type="text" id="searchUserToRemove" placeholder="Procurar Usuário" />
    <% if (people.length > 1) { %> <% people.forEach(person => { %> <% if
    (person.id != user_id) { %>
    <div person_id="<%= person.id %>" class="removeUserDiv">
      <span class="personToRemoveName"><%= person.name %></span>
      <span class="personToRemoveUsername"><%= person.username %></span>
      <button class="removeUser"><i class="fa-solid fa-user-xmark"></i></button>
    </div>
    <% } %> <% }) %> <% } %>
  </div>
</div>
